<!DOCTYPE html>
<html>
<head>

    {% block stylesheets %}
        <link href="{{ asset('bundles/test/css/main.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

    <h1 class="base main_header">Videos</h1>

    <div id="search_button" class="base search_field_button">
        <input id="search_text" class="search_field" type="text" name="search" placeholder="  YouTube URL">

        <button id="btn2" class="button"><div class="modal"></div>submit</button>

        <script>
            $(document).ready(function(){
                $video_frame = $("#video_frame");
                $modal = $(".modal");
                $("#btn2").on ('click',
                    function() {
                    var $ch_url = $('#search_text').val();
                    $video_frame.addClass('loading');
                    $modal.addClass('loading');
                    $("#video_frame").attr("data-youtube", $ch_url);
                    $.ajax({
                        type: "POST",
                        url: "{{ (path('test_homepage'))}}ajax_ch ",
                        data: {
                            'ch_url': $ch_url
                        },
                        dataType: "html",
                        success: function(response) {
                            $("#btn1").removeClass('hidden');
                            if (response.trim() != '') {
                                $('ul#video_list_frame').empty();
                                $('ul#video_list_frame').append( response );
                            } else{
                                alert('Channel is empty');
                            }
                        },
                        error:function () {
                            alert('YouTube URL not found');
                        }
                    });
                    }
                );
                $(function () {
                    $(document).ajaxStop(function () {
                        $video_frame.removeClass('loading');
                        $modal.removeClass('loading');
                    });
                });
            });
        </script>
    </div>

    <div id="video_frame" class="video_frame">
        <div class="modal"></div>
        <script>
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            function  playVideo(container, videoId) {
                new YT.Player(container, {
                    height: '230',
                    width: '330',
                    videoId: videoId
                });
            }
        </script>

        <ul id="video_list_frame" class="video_list_frame">
            {% for key, video in youtube.youtube_videos %}
                    <div id="base item{{ key }}" class="base item">
                        <div class="item_atr title">{{ video.title }}</div>
                        <div id="player{{ key }}" class="player_frame"></div>
                        <div class="item_atr desc">{{ video.description }}</div>
                        <div class="item_atr dur"><i class="fa fa-clock-o"></i>{{ video.duration }}</div>
                    </div>
            {% endfor %}
        </ul>

        {% set v =  youtube.youtube_videos %}

        <script>
            function onYouTubeIframeAPIReady() {
                {% for key, video in v %}
                playVideo('player{{ key }}', '{{ video.video_id }}');
                {% endfor %}
            }
        </script>
    </div>

    <div id="more_button" class="moreButtonFrame">
        <div class="modal_1"></div>
        <button id="btn1" class="button">load more</button>

        <script>
            $(document).ready(function(){
                $nr = 8;
                $begin = 4;
                $end = 7;
                $modal_1 = $(".modal_1");
                $("#btn1").click(function(){
                    var $ch_url = $("#video_frame").attr("data-youtube");
                    $modal_1.addClass('loading');
                    $.ajax({
                        type: "POST",
                        url: "{{ (path('test_homepage'))}}ajax ",
                        data: {
                            'ch_url': $ch_url,
                            'nr': ($nr += 4),
                            'begin': ($begin += 4),
                            'end': ($end += 4)
                        },
                        dataType: "html",
                        success: function(response) {
                            $("ul.video_list_frame").append( response );
                            $("#btn1").addClass('hidden');
                        },
                        error:function () {
                            alert('no videos to load');
                        }
                    });
                    $(function () {
                        $(document).ajaxStop(function () {
                            $modal_1.removeClass('loading');
                        });
                    });
                });
            });
        </script>
    </div>

    <div id="footer" class="footer"></div>

</body>
</html>