{% if youtube.youtube_videos %}
{% for key, video in youtube.youtube_videos %}
        <div id="base item{{ key }}" class="base item">
            <div class="item_atr title">{{ video.title }}</div>
            <div id="player{{ video.video_id }}" class="player_frame"></div>
            <div class="item_atr desc">{{ video.description }}</div>
            <div class="item_atr dur"><i class="fa fa-clock-o"></i>{{ video.duration }}</div>
        </div>
{% endfor %}

{% set v =  youtube.youtube_videos %}

<script>
    {% for key, video in v %}
    playVideo('player{{ video.video_id }}', '{{ video.video_id }}');
    {% endfor %}
</script>
{% endif %}