@import url('https://fonts.googleapis.com/css?family=Roboto');

.base {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.main_header {
    margin-top: 70px;
    font-size: 38px;
}

.search_field {
    width: 450px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: solid;
    border-color: lightgrey;
    border-width: thin;
    font-size: 18px;
    margin-right: 20px;
}

.search_field_button {
    width: inherit;
}

.video_list_frame {
    padding-left: 0;
    width: initial;
    display: block;
    text-align: center;
}

.video_frame {
    position: relative;
}

.item {
    width: 330px;
    margin-top: 70px;
    margin-left: 12px;
    margin-right: 12px;
    display: inline-block;
}

.item_atr {
    text-align: left;
}

.title {
    height: 23px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 5px;
    font-weight: bolder;
    font-size: 18px;
}

.desc {
    margin-top: 5px;
    height: 58px;
    overflow: hidden;
}

.dur {
    margin-top: 15px;
}

.fa.fa-clock-o{
    margin-right: 15px;
    font-size: 22px;
    color: #368bcd;
}

.moreButtonFrame {
    position: relative;
    margin-top: 80px;
    text-align: center;
}

.button {
    position: relative;
    font-size: 18px;
    background-color: #368bcd;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.footer {
    height: 30px;
}

.hidden {
    display: none;
}

.append {
    display: inline-block;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://www.rawliving.eu/skin/frontend/ultimo/default/images/ajaxcart/loading.gif')
    50% 50%
    no-repeat;
}

#video_frame.loading .modal{
    display: block;
}

.modal.loading {
    display: block;
}

.modal_1 {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://www.rawliving.eu/skin/frontend/ultimo/default/images/ajaxcart/loading.gif')
    50% 50%
    no-repeat;
}

.modal_1.loading {
    display: block;
}

input {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
}


@media screen and (max-width: 1443px) {

    .item {
        margin-left: 2px;
        margin-right: 2px;
    }

}

@media screen and (max-width: 1363px) {

    .item {
        margin-left: 1px;
        margin-right: 0;
    }

}

@media screen and (max-width: 1351px) {

    .item {
        margin-left: 46px;
        margin-right: 46px;
    }

    .video_list_frame {
        padding-left: 52px;
        padding-right: 52px;
    }

}

@media screen and (max-width: 967px) {

    .item {
        margin-left: 36px;
        margin-right: 36px;
    }

    .video_list_frame {
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media screen and (max-width: 847px) {

    .item {
        margin-left: 16px;
        margin-right: 16px;
    }

}

@media screen and (max-width: 767px) {

    .item {
        margin-left: 4px;
        margin-right: 4px;
    }

}

@media screen and (max-width: 719px) {

    .item {
        margin-left: 1px;
        margin-right: 1px;
    }

}